/* Move down content because we have a fixed navbar that is 50px tall */
$verde: #629689;
$cinzaEscuro: #333;
$nodeschoolCpsPath: url('../img/node-school-campinas.svg');
$fontNodeschool: 'Source Sans Pro', sans-serif;

body {
	padding-top: 50px;
	padding-bottom: 0;
	font-family: $fontNodeschool;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6 .h6 {
	font-family: $fontNodeschool;
}

a { color: $verde; }

.features-circle {
	display: block;
	position: relative;
	border-radius: 50%;
	background-color: #fff;
	width: 150px;
	height: 150px;
	margin: 0 auto 30px auto;
	border: 3px solid #0080ff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.features-circle-icon {
	position: absolute;
	text-align: center;
	width: 100px;
	height: 100px;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	color: #0080ff;
	font-size: 60px;
	display: table;
	transition: all 0.3s ease;
}
.features-circle-icon i {
	display: table-cell;
	vertical-align: middle;
}

.text-contrast {
	color: #fff;
}

.text-contrast:hover {
	color: #80c0ff;
}

div.brand > img {
	width: 250px;
	height: auto;
}

.mentors img {
	width: 100px;
	height: auto;
	margin: 1em;
}

.sponsors {
	margin-bottom: 1em;

	& > a {
		margin: 0 0.5em;
	}
}

img.img-circle {
	width: 80px;
	height: 80px;
}

.nodeschool-campinas-logo {
	background-image: $nodeschoolCpsPath;
	background-size: 100%;
	font-size: 0;
	width: 180px;
	height: 105px;
}

#navbar-main { margin-top: 22px; }
.navbar { font-family: 'Source Sans Pro', sans-serif; }
.text-contrast:hover { color: $verde; }

.navbar-default {
	background-color: $verde;
	border: none;
	.navbar-nav>li {
		&.active a, &.active a:hover {
			color: $verde;
			background-color: $cinzaEscuro;
			border: 2px solid $cinzaEscuro;
		}
		a {
			color: $cinzaEscuro;
			font-weight: 700;
			border: 2px solid $cinzaEscuro;
			letter-spacing: 1px;
			&:hover {
				color: $verde;
				background-color: $cinzaEscuro;
			}
		}
	}
}

.carousel {
	padding-top: 55px;
	.banner {
		height: 570px;
		h1 {
			text-transform: uppercase;
			font-weight: 900;
		}
	}
}

.features-circle {
	.features-circle-icon, & {
		border-color: $verde;
		color: $verde;
	}
	&:hover { background-color: $cinzaEscuro; }
}

#inicio {
	i {
		margin-right: 10px;
		position: relative;
		top: 4px;
	}
}

#conheca { padding: 50px 0 70px; }
#quemSomos, #apoio, #hall { padding: 20px 0 40px; }

#eventos {
	padding-top: 0;
	margin-bottom: 0;
	.data {
		border: 2px solid $cinzaEscuro;
		border-radius: 4px;
		padding: 10px 15px;
		color: $cinzaEscuro;
		text-shadow: none;
		background-color: $verde;
		font-weight: 700;
		&:hover {
			background-color: $cinzaEscuro;
			text-shadow: none;
			text-decoration: none;
			color: $verde;
		}
		i {
			margin-right: 5px;
			position: relative;
			top: 2px;
		}
	}
}

footer {
	height: 70px;
	padding-top: 25px;
	background-color: $verde;
	color: $cinzaEscuro;
	font-weight: 700;
}