.menu
  margin-left 0
  padding-left 0

.menu-item
  position relative
  display block
  padding 10px 15px
  margin 0 5px 5px 5px
  
  background-color lighten(color-default, 5%)
  border 1px solid darken(color-default, 15%)

.menu-item:hover
  cursor pointer
  background-color darken(color-default, 5%)