menu-bgcolor = #efefef

.menu
  margin-left 0
  padding-left 0

.menu-item
  position relative
  display block
  padding 10px 15px
  margin 0 5px 5px 5px
  
  background-color menu-bgcolor
  border 1px solid darken(menu-bgcolor, 15%)

.menu-item:hover
  cursor pointer
  background-color darken(menu-bgcolor, 5%)