@import '_reset'
@import '_colors'
@import '_menu'
@import '_blockquote'

sidebar-left-width = 12em
sidebar-right-width = 15em

body
  display flex
  min-height 100vh
  flex-direction column

header, .wrapper
  display flex

.wrapper
  flex 1

.container
  flex 1
  padding 0 10px

.sidebar-left
  flex 0 0 sidebar-left-width
  order -1

.sidebar-right
  flex 0 0 sidebar-right-width
  order 10

.center
  display flex
  align-items center
  justify-content center

footer
  text-align center