@import '_reset'
@import '_menu'

body
  display flex
  min-height 100vh
  flex-direction column

header
  text-align center

#wrapper
  display flex
  flex 1

#main
  flex 1
  padding 0 10px

#sidebar
  flex 0 0 12em
  order -1

#feed
  flex 0 0 15em
  order 10

footer
  text-align center